// colors
/* SCSS HEX */
$cultured: #fdfdfc;
// $metallic-sunburst: #968653;
$metallic-sunburst: #968670;
$phthalo-green: #142207;
$xanadu: #707a67;
$ash-gray: #cbd2c6;
$pewter-blue: #e4ebf0;
$dark-blue: #2e5a79;
$alice-blue: #e4ebf0;
$old-rose: #c0878d;
$lavender-blush: #eddddf;

/* SCSS Gradient */
$background: linear-gradient(
    90deg,
    hsla(91, 66%, 8%, 1) 0%,
    hsla(56, 33%, 33%, 1) 100%
);

// background: -moz-linear-gradient(90deg, hsla(91, 66%, 8%, 1) 0%, hsla(56, 33%, 33%, 1) 100%);

// background: -webkit-linear-gradient(90deg, hsla(91, 66%, 8%, 1) 0%, hsla(56, 33%, 33%, 1) 100%);

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

@font-face {
    font-family: "Red Velvet Regular";
    font-style: normal;
    font-weight: 300;
    src: local("Red Velvet Regular"), url("../../assets/RedVelvet-Regular.woff");
}

//FONT
$default-font-size: 1.6rem;
$font-primary: "Cormorant Garamond", serif;
$font-title: "Red Velvet Regular", serif;
