// colors
/* SCSS HEX */
$cultured: #fdfcf8;
$cultured-darker: #e6e4e0;
// $metallic-sunburst: #968653;
$metallic-sunburst: #867864;
$phthalo-green: #142207;
$xanadu: #707a67;
$ash-gray: #cbd2c6;
$pewter-blue: #eff3f5;
$dark-blue: #284e69;
$alice-blue: #e4ebf0;
$blue: #c6d5df;
$old-rose: #c0878d;
$lavender-blush: #fbf4f4;

/* SCSS Gradient */
$background: linear-gradient(
  90deg,
  hsla(91, 66%, 8%, 1) 0%,
  hsla(56, 33%, 33%, 1) 100%
);

// background: -moz-linear-gradient(90deg, hsla(91, 66%, 8%, 1) 0%, hsla(56, 33%, 33%, 1) 100%);

// background: -webkit-linear-gradient(90deg, hsla(91, 66%, 8%, 1) 0%, hsla(56, 33%, 33%, 1) 100%);

$color-grey-light-1: #676f78;
$color-grey-light-2: #f8f8f8;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;

@font-face {
  font-family: 'MonthGlade';
  font-style: normal;
  font-weight: 500;
  src: local('MonthGlade'), url('../../assets/MonthGlade.otf');
}

@font-face {
  font-family: 'Red Velvet Regular';
  font-style: normal;
  font-weight: 500;
  src: local('Red Velvet Regular'), url('../../assets/RedVelvet-Regular.woff');
}

//FONT
$default-font-size: 1.6rem;
$font-primary: 'adobe-garamond-pro', serif;
// $font-title: "Red Velvet Regular", serif;
// $font-title: "p22-allyson-pro", sans-serif;
$font-title: 'MonthGlade';
