.nav {
  height: 7rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cultured;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  @include respond(tab-land) {
    justify-content: flex-end;
  }

  &__list {
    list-style-type: none;
    @include respond(tab-land) {
      li {
        margin-bottom: 2rem;
      }
      li:last-of-type {
        margin-bottom: 3rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      padding: 1rem 7rem;
      color: $phthalo-green;
      text-decoration: none;

      @include respond(phone) {
        padding: 1rem 4rem;
      }
    }
    &:hover {
      color: $metallic-sunburst;
    }
    &__selected {
      color: $metallic-sunburst;
    }
  }

  &__burger {
    font-size: 3rem;
    display: none;
    margin-right: 5rem;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__side {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include respond(tab-land) {
      background-color: $color-white;
      position: absolute;
      top: 63px;
      right: -100%;
      width: 220px;
      height: calc(100vh - 63px);
      min-height: 300px;
      align-items: flex-start;
      flex-direction: column;
      padding: 0;
      transition: all 400ms;
      padding-top: 2rem;
    }
  }

  &__active {
    right: 0;
  }
}
