.welcome {
  font-size: 1.8rem;
  width: 60%;
  height: auto;
  margin: 0 auto;

  @include respond(tab-port) {
    width: auto;
    font-size: 2rem;
  }
  &__text {
    padding: 0 5rem;
  }
  &__title {
    font-size: 3.5rem;
    font-weight: 500;
    @include respond(phone) {
      font-size: 3rem;
      font-weight: 400;
    }
  }
}
