.welcome {
    font-size: 2.5rem;
    width: 975px;
    height: auto;
    margin: 0 auto;
    padding: 0 2rem;
    @include respond(tab-port) {
        width: 100vw;
        font-size: 2.5rem;
    }

    &__title {
        font-size: 3.5rem;
        font-weight: 500;
        @include respond(phone) {
            font-size: 4rem;
            font-weight: 400;
        }
    }
}
