.footer {
    background-color: $phthalo-green;
    color: $ash-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    height: 200px;
    padding: 2rem;
}
