.header {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dalvnn7t2/image/upload/v1608513347/Wedding/Megan_MikeEngagementPhotos_KindlingWeddingPhotography_85_x0qxit.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
