.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  // background-image: url("https://res.cloudinary.com/dalvnn7t2/image/upload/v1609823094/Wedding/Megan_MikeEngagementPhotos_KindlingWeddingPhotography_85_atpcuv.jpg");
  /* Full height */
  height: 100vh;
  height: vh(100);

  background: url('https://res.cloudinary.com/dalvnn7t2/image/upload/v1609823094/Wedding/Megan_MikeEngagementPhotos_KindlingWeddingPhotography_85_atpcuv.jpg')
    no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: url('https://res.cloudinary.com/dalvnn7t2/image/upload/v1608513347/Wedding/Megan_MikeEngagementPhotos_KindlingWeddingPhotography_85_x0qxit.jpg');
  }

  &__title {
    height: 100%;
    color: $cultured;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include respond(phone) {
      height: 70%;
    }
  }

  &__amsp {
    font-family: 'p22-allyson-pro', sans-serif;
    padding-right: 2rem;
    margin-left: -2rem;
    @include respond(phone) {
      padding-right: 0;
      //   margin-left: -2rem;
    }
  }

  &__arrowBox {
    height: 60px;
    width: 50px;
    margin: 0 auto;
    position: relative;
  }

  &__arrow {
    width: 20px;
    height: 20px;
    top: -10px;
    left: 5px;
    position: absolute;
    border-left: 2px solid $cultured;
    border-bottom: 2px solid $cultured;
    transform: rotate(-45deg);
    animation: wheel 3s infinite;
    -webkit-animation: wheel 3s infinite;
    -moz-animation: wheel 3s infinite;
  }
}
