.header {
    background-image: url("https://res.cloudinary.com/dalvnn7t2/image/upload/v1609823094/Wedding/Megan_MikeEngagementPhotos_KindlingWeddingPhotography_85_atpcuv.jpg");
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        height: 100%;
        color: $cultured;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include respond(phone) {
            margin-right: 0rem;
            position: relative;
        }
    }

    &__name {
    }

    &__arrowBox {
        height: 60px;
        width: 50px;
        margin: 0 auto;
        position: relative;
    }

    &__arrow {
        width: 20px;
        height: 20px;
        top: -10px;
        left: 5px;
        position: absolute;
        border-left: 2px solid $cultured;
        border-bottom: 2px solid $cultured;
        transform: rotate(-45deg);
        animation: wheel 3s infinite;
        -webkit-animation: wheel 3s infinite;
        transition: all 300ms ease 0s;
    }
}
